@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Muthukumar V<br />
    Owner,Happy Mobile Shop<br />
    <abbr title="Mobile Number">Phone:</abbr>
    9344147168
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@happymob.com">Support@happymob.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@happymob.com">Marketing@happymob.com</a>
</address>