
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Location</h2>
<address>
    Happy Mobile Shop<br />
    Opposite to K.S.Rangasamy College of Technology<br />
    KSR Kalvi Nagar<br />
    Tiruchengode<br />
    Namakkal District- 6## ###.
</address>

